[submodule "compose/stringsaver"]
	path = compose/stringsaver
	url = https://dev.lind.sk/stringsaver.lind.sk
[submodule "compose/supabase"]
	path = compose/supabase
	url = https://dev.lind.sk/supabase-config
