<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/bulma.min.css" />
    <link rel="stylesheet" href="assets/tachyons.min.css" />
    <script src="assets/axios.min.js"></script>
    <script src="assets/vue.js"></script>
    <title>bibelord admin</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Cardo&family=Varta:wght@700&family=Source+Sans+Pro:ital,wght@1,700&display=swap"
        rel="stylesheet" />
</head>

<body class="bg-thirds ba">
    <div id="app" class="pl3 pt5">
        <div :class="['dt z-999 absolute transition', show_bulk ? '' : 'o-0 pointer-events-none']">
            <textarea class="ba b--black-20 br2 no-resize mt2 bg-white black pa3 outline-0 ba" rows="25" cols="40"
                v-model="bulk">
                </textarea>
            <br />
            <button @click="bulk_import" class="button is-info">Bulk-import</button>
        </div>
        <div class="w-960 absolute z-1" id="draggable" class="ba white">
            <div id="draggableheader" @mousedown="dragMouseDown" class="bg-dark-blue w-100 ba tc move">
                <div class="db h1 tc w6 z-0 h1">
                    &nbsp;
                    <!-- control panel -->
                </div>
            </div>
            <div class="flex">
                <input class="ff-2 w-75 tracked ph3 pv1 outline-0 bg-white ba black tl pr3" v-model="words[i].reference"
                    placeholder="Exempel: Joh 3:16" list="books" />

                <button :disabled="!show_import_button"
                    :class="['w-25 button is-small', show_import_button ? 'is-success':'is-ghost', is_loading ? 'is-loading': '']"
                    @click="get_bible" @contextmenu.prevent @mouseup.right="toggle_sfb" tabindex="-1"
                    title="Hämta bibelord">{{import_button}}</button>
            </div>
            <textarea class="ff-2 w-100 h-800 ph3 outline-0 tj lh-copy" v-model="words[i].text"></textarea>
        </div>

        <div class="absolute top-26 left-2 flex">
            <button class="is-small button is-info is-outlined" @click="dec">&larr;</button>
            <div class="notification flex">
                <div class="w6 tags" v-dragdrop="words" order="order">
                    <div :class="['tag button', wi==i ? 'is-info' : '']" @click="set_active_slide(wi)"
                        v-for="(w, wi) in words" :key="w.reference + w.text">
                        {{w.reference}}
                        <button v-show="words.length > 1" class="delete is-large"
                            @click.stop.prevent="remove_at_index(wi)"></button>
                    </div>
                </div>
                <div>
                    <button class="tag button" @click="add">➕</button>
                    <br>
                    <button :class="['tc tag w3 ff-3 button', show ? 'is-danger':'is-success']"
                        @click="show_hide">{{show ? "👀 showing":"🙈 hiding"}}</button>
                </div>
            </div>
            <button class="is-small button is-info is-outlined" @click="inc">&rarr;</button>
        </div>
        <datalist id="books"></datalist>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
<!-- <script src="bibel.js"></script> -->
<script src="assets/sv_bcv_parser.js"></script>
<script src="assets/dragula.min.js"></script>
<script src="assets/lodash.min.js"></script>
<script src="assets/Dragdrop.js"></script>
<script src="paginate.js"></script>
<link rel="stylesheet" href="assets/dragula.min.css" />
<script>
    const PAGINATE_HORIZON = 8
    // const PAGINATE_MAXLEN = 100
    const PAGINATE_MAXLEN = 55

    var bcv = new bcv_parser()
    // Returns a function, that, as long as it continues to be invoked, will not
    // be triggered. The function will be called after it stops being called for
    // N milliseconds. If `immediate` is passed, trigger the function on the
    // leading edge, instead of the trailing.
    function debounce(func, wait, immediate) {
        var timeout
        return function () {
            var context = this,
                args = arguments
            var later = function () {
                timeout = null
                if (!immediate) func.apply(context, args)
            }
            var callNow = immediate && !timeout
            clearTimeout(timeout)
            timeout = setTimeout(later, wait)
            if (callNow) func.apply(context, args)
        }
    }
    var firebaseConfig = {
        apiKey: "AIzaSyChsTmAG3quMze7D-CycF4BHqVvTVbyAr0",
        authDomain: "bibelord-web.firebaseapp.com",
        databaseURL: "https://bibelord-web.firebaseio.com",
        projectId: "bibelord-web",
        storageBucket: "bibelord-web.appspot.com",
        messagingSenderId: "301360703596",
        appId: "1:301360703596:web:8ff608549aa61c6701d049",
    }

    firebase.initializeApp(firebaseConfig)
    var db = firebase.database()

    function mod(n, m) {
        return ((n % m) + m) % m
    }

    function titleCase(str) {
        str = str.toLowerCase().split(" ")
        for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1)
        }
        return str.join(" ")
    }

    var abbr = ["1 Mos", "2 Mos", "3 Mos", "4 Mos", "5 Mos", "Jos", "Dom", "Rut", "1 Sam", "2 Sam", "1 Kung", "2 Kung",
        "1 Krön", "2 Krön", "Esr", "Neh", "Est", "Job", "Ps", "Ords", "Pred", "Höga v", "Jes", "Jer", "Klag", "Hes",
        "Dan", "Hos", "Joel", "Am", "Ob", "Jon", "Mik", "Nah", "Hab", "Sef", "Hagg", "Sak", "Mal", "Matt", "Mark",
        "Luk", "Joh", "Apg", "Rom", "1 Kor", "2 Kor", "Gal", "Ef", "Fil", "Kol", "1 Thess", "2 Thess", "1 Tim",
        "2 Tim", "Tit", "Filem", "Heb", "Jak", "1 Pet", "2 Pet", "1 Joh", "2 Joh", "3 Joh", "Jud", "Upp"
    ]

    var longbooks = ["Första Moseboken", "Andra Moseboken", "Tredje Moseboken", "Fjärde Moseboken", "Femte Moseboken",
        "Josua", "Domarboken", "Rut", "Första Samuelsboken", "Andra Samuelsboken", "Första Kungaboken",
        "Andra Kungaboken", "Första Krönikeboken", "Andra Krönikeboken", "Esra", "Nehemja", "Ester", "Job",
        "Psaltaren", "Ordspråksboken", "Predikaren", "Höga visan", "Jesaja", "Jeremia", "Klagovisorna", "Hesekiel",
        "Daniel", "Hosea", "Joel", "Amos", "Obadja", "Jona", "Mika", "Nahum", "Habackuk", "Sefanja", "Haggaj",
        "Sakarja", "Malaki", "Matteusevangeliet", "Markusevangeliet", "Lukasevangeliet", "Johannesevangeliet",
        "Apostlagärningarna", "Romarbrevet", "Första Korinthierbrevet", "Andra Korinthierbrevet", "Galaterbrevet",
        "Efesierbrevet", "Filipperbrevet", "Kolosserbrevet", "Första Thessalonikerbrevet",
        "Andra Thessalonikerbrevet", "Första Timotheosbrevet", "Andra Timotheosbrevet", "Titusbrevet",
        "Filemonbrevet", "Hebreerbrevet", "Jakobsbrevet", "Första Petrusbrevet", "Andra Petrusbrevet",
        "Första Johannesbrevet", "Andra Johannesbrevet", "Tredje Johannesbrevet", "Judasbrevet", "Uppenbarelseboken"
    ]


    var app = new Vue({
        el: "#app",
        data: {
            i: 0,
            pos: [0, 0],
            words: [{
                reference: "",
                text: "",
            }],
            show: true,
            show_bulk: false,
            show_import_button: false,
            is_loading: false,
            drag: null,
            error: '',
            pos3: 0,
            pos4: 0,
            inited: false,
            curr_sfb: "sfb15",
            bulk: `1 Mos 1:1-6
            1 I begynnelsen skapade Gud himmel och jord. 2 Jorden var öde och tom, och mörker var över djupet. Och Guds Ande svävade över vattnet. 3 Gud sade: ”Varde ljus!” Och det blev ljus. 4 Gud såg att ljuset var gott, och han skilde ljuset från mörkret. 5 Gud kallade ljuset dag, och mörkret kallade han natt. Och det blev afton och det blev morgon, den första dagen. 6 Gud sade: ”Mitt i vattnet ska finnas ett valv som skiljer vatten från vatten.”

            Rom 8
            Så finns nu ingen fördömelse för dem som är i Kristus Jesus. 2 Livets Andes lag har i Kristus Jesus gjort mig fri från syndens och dödens lag. 3 Det som var omöjligt för lagen, svag som den var genom den köttsliga naturen, det gjorde Gud genom att sända sin egen Son som syndoffer, till det yttre lik en syndig människa. I hans kropp fördömde Gud synden. 4 Så skulle lagens rättfärdiga krav uppfyllas i oss som inte lever efter köttet utan efter Anden.
            `,
        },
        watch: {
            i() {
                this.write()
            },
            curr_reference(n) {
                var ents = bcv.parse(n).entities
                if (ents.length > 0) {
                    var type = ents[0].type
                    var allowed = ["bcv", "bc", "range"]
                    this.show_import_button = allowed.includes(type)
                } else {
                    this.show_import_button = false
                }
            },
            words: {
                handler() {
                    this.write()
                },
                deep: true,
            },
        },
        computed: {
            data_ready() {
                return this.curr_reference != "" && this.curr_text != ""
            },
            curr_reference() {
                // console.log(this.i)
                // console.log(this.words)
                try {
                    return this.words[this.i].reference
                } catch (e) {
                    return ""
                }
            },
            curr_text() {
                try {
                    return this.words[this.i].text
                } catch (e) {
                    return ""
                }
            },
            import_button() {
                if (this.show_import_button) return "📖 (" + this.curr_sfb + ")"
                var msg = "🤷"
                if (this.error != '')
                    msg += "(" + this.error + ")"

                return msg
            },
        },
        methods: {
            toggle_sfb() {
                this.curr_sfb = {
                    sfb15: "sfb98",
                    sfb98: "sfb15"
                } [this.curr_sfb]
            },
            bulk_import() {
                var words = this.bulk.split("\n\n").map((group) => {
                    var lines = group.split("\n")
                    return {
                        reference: lines[0],
                        text: lines.slice(1).join("\n"),
                    }
                })
                this.words = words
            },
            add() {
                this.words.splice(this.words.length, 0, {
                    reference: "",
                    text: "",
                })
                // var newi = Math.min(Math.max(this.i + 1, 0), this.words.length - 1)
                var newi = this.words.length - 1
                // console.log("newi", newi)
                this.i = newi
            },
            set_active_slide(wi) {
                this.i = wi
            },
            remove_at_index(wi) {
                // console.log("wi", wi)
                // console.log(this.words)
                if (this.words.length > 1) {
                    this.words.splice(wi, 1)
                    this.i = Math.min(Math.max(this.i - 1, 0), this.words.length - 1)
                }
            },
            rm() {
                if (this.words.length > 1) {
                    this.words.splice(this.i, 1)
                    this.i--
                }
            },
            write() {
                if (!this.inited) return

                debounce(() => {
                    var o = {
                        i: this.i,
                        pos: this.pos,
                        words: this.words,
                        show: this.show,
                    }
                    db.ref("/").set(o)
                }, 100)()
            },
            inc() {
                this.i = Math.min(this.i + 1, this.words.length - 1)
            },
            dec() {
                this.i = Math.max(this.i - 1, 0)
            },
            hor_center() {
                this.pos[0] = screen.width / 2
                this.moveToPos()
            },
            split_bible_slides(original_ref, original_text, words_per_slide) {
                // console.log(original_text)
                var arr = paginate(original_text, PAGINATE_HORIZON, PAGINATE_MAXLEN)
                return arr.map((s, i) => {
                    var o = {
                        reference: original_ref,
                        text: s
                    }
                    return o
                })
            },
            get_bible() {
                var ref = this.curr_reference
                var url = "https://sfb.lind.sk/" + titleCase(ref) + "?" + this.curr_sfb
                console.log(url)
                this.is_loading = true
                axios
                    .get(url)
                    .then((s) => {
                        //remove empty slides
                        var arr = this.split_bible_slides(ref, s.data)
                        // console.log(arr)
                        // console.log(s.data)
                        // console.log(arr.map((s) => s.text).join(" "))

                        //add the paginated slides and remove the current slide
                        this.words.splice(this.i, 1, ...arr)
                        this.error = ""
                        this.is_loading = false
                    })
                    .catch((s) => {
                        this.show_import_button = false
                        this.error = s
                        this.is_loading = false
                        console.error(s)
                    })
            },
            dragMouseDown(e) {
                e = e || window.event
                e.preventDefault()
                // get the mouse cursor position at startup:
                this.pos3 = e.clientX
                this.pos4 = e.clientY
                document.onmouseup = this.closeDragElement
                // call a function whenever the cursor moves:
                document.onmousemove = this.elementDrag
            },
            elementDrag(e) {
                e = e || window.event
                e.preventDefault()
                // calculate the new cursor position:
                var pos1 = this.pos3 - e.clientX
                var pos2 = this.pos4 - e.clientY
                this.pos3 = e.clientX
                this.pos4 = e.clientY

                // set the element's new position:
                var newpos2 = this.drag.offsetTop - pos2
                var newpos1 = this.drag.offsetLeft - pos1

                if (newpos2 >= 0 && newpos1 >= 0) {
                    this.pos = [newpos1, newpos2]
                    this.moveToPos()
                }
            },
            moveToPos() {
                this.drag.style.top = this.pos[1] + "px"
                this.drag.style.left = this.pos[0] + "px"
            },
            closeDragElement() {
                // stop moving when mouse button is released:
                document.onmouseup = null
                document.onmousemove = null
                // and write to cloud
                this.write()
            },
            show_hide() {
                this.show = !this.show
                this.write()
            },
            datalist_html(lst) {
                return lst.reduce((acc, s) => acc += "<option value='" + s + "'>", "")
            }
        },
        mounted() {
            document.getElementById("books").innerHTML = this.datalist_html(longbooks) + this.datalist_html(
                abbr)
            addEventListener("keyup", (e) => {
                var inTextField = e.target.tagName == "INPUT" || e.target.tagName == "TEXTAREA"
                if (e.key == "ArrowRight" && !inTextField) this.inc()
                else if (e.key == "ArrowLeft" && !inTextField) this.dec()
                // else if (e.key == "Escape") this.show_bulk = !this.show_bulk
            })

            this.drag = document.getElementById("draggable")

            db.ref("/")
                .once("value")
                .then((s) => {
                    var t = s.val()
                    this.i = Math.min(t.i, t.words.length - 1)
                    this.pos = t.pos

                    this.drag.style.top = this.pos[1] + "px"
                    this.drag.style.left = this.pos[0] + "px"

                    this.words = t.words
                    this.inited = true
                })
        },
    })
</script>

</html>