<!DOCTYPE html>
<html lang="en" class="bg-black">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/bulma.min.css" />
    <link rel="stylesheet" href="assets/tachyons.min.css" />
    <script src="assets/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Varta:wght@700&family=Source+Sans+Pro:ital,wght@1,700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="style.css">
    <style>
        html,body{overflow:hidden}
    </style>
    <title>Bibel</title>
</head>

<body class="ff-2">
    <div id="app" class="pa3 pt5">
        <div class="white fixed z-2 center-x-1080" id="draggable" ref="draggable">
            <transition name="fade" appear>
                <div v-if="show">
                    <span class="ff-4 f4 fw6 pl3 pr4 outline-0 bn tl dib text-shadow">
                        <span :key="words[i].reference">{{words[i].reference}}</span>
                    </span>
                    <div class="w-960">
                        <!-- prettier-ignore -->
                        <!-- we want the text to be based around bottom-0 -->
                        <p class="f6 h3-5 dtc v-mid ph3 outline-0 tj ff-3" style="line-height: 1.2rem;"
                            :key="curr_text">
                            {{curr_text}}
                        </p>
                    </div>

                </div>
            </transition>
        </div>
        <!-- used for background black thing -->
        <div class="white fixed z-1 center-x-1080" id="background-thing">
            <span class="ff-4 f4 fw6 pl3 pr4 outline-0 bn tl dib text-shadow">
                <span :key="words[i].reference">&nbsp;</span>
            </span>
            <transition name="apple" appear>
                <div v-if="show" id="bg" class="center bg-black-50 bl br b--red bw2 w-960">
                    <p class="dn h3-5 f6 dtc v-mid ph3 outline-0 tj ff-3" style="line-height: 1.2rem;">
                        &nbsp;
                    </p>
                </div>
            </transition>
        </div>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyChsTmAG3quMze7D-CycF4BHqVvTVbyAr0",
        authDomain: "bibelord-web.firebaseapp.com",
        databaseURL: "https://bibelord-web.firebaseio.com",
        projectId: "bibelord-web",
        storageBucket: "bibelord-web.appspot.com",
        messagingSenderId: "301360703596",
        appId: "1:301360703596:web:8ff608549aa61c6701d049",
    }
    firebase.initializeApp(firebaseConfig)
    var db = firebase.database()

    function mod(n, m) {
        return ((n % m) + m) % m
    }
    var app = new Vue({
        el: "#app",
        data: {
            debug: location.search == "?debug",
            i: 0,
            pos: [0, 0],
            words: [{
                reference: "",
                text: "",
            }, ],
            drag: null,
            show: false
        },
        computed: {
            curr_text() {
                return this.words[this.i].text
            },
        },
        methods: {},
        mounted() {
            if (this.debug) {
                document.body.classList.add("bg-sara")
            }
            this.drag = this.$refs["draggable"]
            var that = this
            db.ref("/").on("value", function (s) {
                var t = s.val()
                that.i = Math.min(t.i, t.words.length - 1)
                that.pos = t.pos
                that.show = true

                // that.drag.style.top = that.pos[1] + "px"
                // that.drag.style.left = that.pos[0] + "px"
                // that.drag.style.display = 'block'

                that.words = t.words
            })
        },
    })
</script>

</html>
