html,
body {
    height: 100%;
    font-size: 44px;
}

#draggableheader {
    cursor: move;
}

.w6 {
    width: 32rem;
}

.outline-0 {
    outline: 0;
}

textarea {
    resize: none;
}

.red {
    color: #a30c0c;
}

.bg-red {
    background-color: #a30c0c;
}

.b--red {
    border-color: #a30c0c;
}

.bg-sara {
    background: url("assets/sara.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.ff-2 {
    font-family: "Cardo";
}

.pre-wrap {
    white-space: pre-wrap;
}

.ff-3 {
    font-family: "Passion One";
}

.bbrr-pill {
    border-bottom-right-radius: 999px;
}

.min-w4 {
    min-width: 8rem;
}

.small-text-shadow {
    text-shadow: 3px 3px 2px #580000;
}

.lh-copy {
    line-height: 1.4;
}

.w-960 {
    width: 1600px;
}

.bg-near-white {
    background-color: #fbfbfb;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.75);
}

.frost {
    /* backdrop-filter: blur(10px) grayscale(0.4); */
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter-active {
    transition-delay: 0.6s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@keyframes showtext {
    0% {
        width: 0px;
        transform: scaleY(0) scaleX(.3);
    }

    33% {
        width: 0px;
        transform: scaleX(.3);
    }

    100% {
        width: 1600px;
        transform: none;
    }
}

.apple-enter-active {
    animation-name: showtext;
    animation-duration: .8s;
    animation-timing-function: ease;
}

.apple-leave-active {
    animation-name: showtext;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-direction: reverse;
    animation-delay: .1s;
}

.apple-enter,
.apple-leave-to {
    /* width: 0px; */
    /* width: scaleX(0); */
}

.move {
    cursor: move;
}

.no-resize {
    resize: none;
}

.hover-o-100:hover {
    opacity: 1;
}

.bg-thirds {
    background-image: url("assets/thirds.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.ff-2 {
    font-family: "Cardo";
}

.ff-3 {
    font-family: "Varta";
}

.pointer-events-none {
    pointer-events: none;
}

.h-800 {
    /* height: 200px; */
    height: 300px;
}

.top-26 {
    top: 26rem;
}

.h3-5 {
    height: 6rem;
}

.ff-4 {
    font-family: 'Source Sans Pro';
}

.text-shadow {
    text-shadow: 1px 2px 4px #818181;
    -webkit-text-stroke: 1px #a2a2a2;
}

.center-x-1080 {
    top: 1080px;
    left: calc(1920px/2);
    transform: translateX(-50%) translateY(-100%);
}